   
 
 
 
 <!---Added Materialize footer--> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>   
</body>

<footer class="page-footer #546e7a blue-grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text ">home IN</h5>
        <p class="grey-text text-lighten-4">check us out on github!</p>
      </div>
      <div class="col l4 offset-l2 s12">
    
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 home IN all rights reserved
    <a class="grey-text text-lighten-4 right" href="https://www.robcperry.com">bluBox</a>
    </div>
  </div>
</footer>

</html>