<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home In</title>

    <!---MATERIALIZE
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    //Import materialize.css
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    //Let browser know website is optimized for mobile
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    MATERIALIZE END--->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="imgs/40px_home_in.png"
      />
      <!---ADDED Materialize--->
  <link
  
      href=https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css
      rel="stylesheet"
      />
    
    <link rel="stylesheet" href="./css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    <nav class =''>
      <div class="container nav-wrapper">
        <a href="/login"><img src="imgs/type_home_in.png" class="brand-logo"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html" class ="#388e3c green-text text-darken-2">About</a></li>
          <li><a href="/login" class=" btn s12 m6 l3 z-depth-3 log "> Login<i class="material-icons right">person</i></a></li>
          <li><a href="/signup" class="btn s12 m6 l3 z-depth-3 sign "> Signup<i class="material-icons right">person_add</i></a></li>
        </ul>
      </div>
    </nav>
  
    <ul class="sidenav sidenav-trigger" id="mobile-demo">
      <li><a href="/login" class=" btn s12 m6 l3 z-depth-3 log #388e3c green darken-2 "> Login</a></li>
      <li><a href="/signup" class="btn s12 m6 l3 z-depth-3 sign #388e3c green darken-2"> Signup</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
    </header>
  </body>
</html>
