<%- include('partials/header') -%>


          

<main class="row">
    
    <div class="grid-example col s12 m6 container">
        <h1 class=" tag container flow-text left-align">Helping people track belongings in case of emergency.</h1><br>
        <p class=" land container flow-text left-align">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae debitis, dignissimos eaque repellat tempora tenetur </p>
        <a href="/signup" class="btn s12 m6 l3 z-depth-3 sign  land landbutt"> Signup for HOME IN</a>
    
    </div>
    <div class="grid-example col s12 m6"><img src="imgs/single_home_in.png" alt ="" class ='single left-align' ></div>

  
    <!---<img src="imgs/single_home_in.png" alt ="" class ='single' >-->
    
   
</main>
    

<%- include('partials/footer') -%>