<%- include('partials/header') -%>

<main class="container">
    <div class="card-panel teal lighten-2">
        <a href="/login" class="card-panel teal lighten-2"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>