<%- include('partials/header') -%>

<main class="#cfd8dc blue-grey lighten-4">
    
    <div class= 'container mainer'>
   <img src="imgs/blue-texture.jpg" alt ="" class =' responsive-img' >
    </div> 
    
    <div class="row test">
        <a href="/login" class=" btn btn-large s12 m6 l3 z-depth-3 log #388e3c green darken-2 "> Login</a>
        <a href="/signup" class="btn btn-large s12 m6 l3 z-depth-3 sign #388e3c green darken-2"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>