/* page */
header{
    height: 12vh;
}
header span{

    margin-top: 4.5vh;
    font-weight: 500;
    font-size: 3vh;

}

header h1{

    margin-top: 1.5vh;


}
body{
    background-color: #ededed ;
}



.feet{
    height: 5vh;
    
}



main{

    height: 68vh;
    


}

.test{

    padding: 15vw 0vh 0vh 40vw;

    

}

.sign{

margin-left: 2.5vw;

    
}



.mainer{
    height:20vh ;

}

/* NAV*/
nav{
    background-color: #cecece ;
    color: #3A7654;
    
}

nav img{

    height: 7vh;
    width: 35vw;
    

}

/* INDEX*/
.single{

    height: auto;
    width: 30vw;
    margin-left: 9vw;
    
    
}

.tag{

    margin: 20vh 0 0 25vw;
    font-weight: 700;

}

.land{
    margin-left: 25vw;
    font-size: medium;
}
.landbutt{
    margin: 3vh 0 0 30vw;
    
}

.btn{
    background-color: #3A7654;
}

.feet{
    color: #3A7654;
    margin: 10vh 0 0 40vw;
}

.card-panel{
    width:15vw;
    background-color: #3A7654;
    color: #ededed; 
    font-size: small;
    margin-left: 55vw;
    


}

/*My Home*/
.roomlist{

    margin-top: 5vh;
    
    

}

img{

    height:40vh;
    width: 20vw;

}

.roomlist .btn-floating{

background-color: #3A7654;
}
