
header{
    height: 12vh;
}


footer{
    height: 20vh;

}

main{

    height: 68vh;
    background-color: #ededed ;


}

.test{

    padding: 15vw 0vh 0vh 40vw;

    

}

.sign{

margin-left: 2.5vw;

    
}

header span{

    margin-top: 4.5vh;
    font-weight: 500;
    font-size: 3vh;

}

header h1{

    margin-top: 1.5vh;


}

.mainer{
    height:20vh ;

}


nav{
    background-color: #ededed ;
}

nav img{

    height: 10vh;
    width: 35vw;
    

}
.single{

    height: auto;
    width: 30vw;
    margin-left: 9vw;
    
    
}

